html, body, #app {
    width: 100%;
    height: 100%;
}

/* Scrollbar Css Style */
/* Chrome */
.ivu-layout-sider-children::-webkit-scrollbar {
    width: 4px; /* 滚动条宽度 */
    height: 4px; /* 滚动条高度 */
}
.ivu-layout-sider-children::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  /*滚动条的背景区域的圆角*/
    background-color: #eee;/*滚动条的背景颜色*/  
}
.ivu-layout-sider-children::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #cdcdcd;  /*滚动条的背景颜色*/
}

/* 左侧菜单IE浏览器上滚动条样式修改 */
.ivu-layout-sider-children {
    scrollbar-track-color: #eee;
    scrollbar-base-color: #eee;
    scrollbar-dark-shadow-color: #cdcdcd;
}

.layout{
    width: 100%;
    height: 100%;
    background: #f5f7f9;
    position: relative;
    overflow: hidden;
}

// Website Logo Style
.layout-logo{
    width: 200px;
    height: 64px;
    border-radius: 3px;
    float: left;
    position: relative;
    /* left: 20px; */
}
.layout-logo img {
    width: 64px;
    height: 64px;
    margin-left: 15px;
}
.layout-logo span {
    display: inline-block;
    float: right;
    width: 100px;
    height: 64px;
    line-height: 32px;
    margin-right: 21px;
    font-size: 32px;
    font-family: STCaiyun,华文彩云;
}
.layout-logo span.admin-website-name {
    color: #fff;
}

.layout-nav{
    margin: 0 auto;
    margin-right: 20px;
}
.header-nav .ivu-menu-horizontal {
    height: 42px;
    line-height: 42px;
}
.ivu-layout {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.ivu-layout-header {
    padding: 0;
}
.ivu-menu-horizontal {
    height: 64px;
    line-height: 64px;
}
.ivu-menu-primary {
    background: #2d8cf0;
    background-image: linear-gradient(140deg,#2945cb 20%,#2b83f9 50%,#00b4aa);
}
.layout-nav[data-v-7278e4d2] {
    width: auto;
    margin-left: 200px;
}
.ivu-menu-horizontal.ivu-admin .ivu-menu-item-active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #4fe3c1;
    position: absolute;
    bottom: 0;
    left: 0;
}

// Top Right Work Bench Style
.layout-work-bench {
    float: right;
    height: auto;
    padding-right: 24px;
    line-height: 64px;
}
.layout-work-bench > * {
    float: right;
}
.layout-work-bench .personal-center {
    margin-left: 10px;
}
.layout-work-bench .personal-center .ivu-dropdown a {
    color: #fff;
}
.layout-work-bench .personal-center .ivu-dropdown a .ivu-avatar {
    margin-right: 6px;
}
.layout-work-bench .personal-center .ivu-dropdown .ivu-select-dropdown .ivu-dropdown-menu {
    margin-bottom: 0;
}
.layout-work-bench .message-notify {
    padding: 0 10px;
    cursor: pointer;
    color: #fff;
}
.layout-work-bench .message-notify .msg {
    position: relative;
}


/* 页面内容 */
.ivu-layout-pages {
    display: flex;
    flex: auto;
    background: #f5f7f9;
    width: 100%;
    height: 100%;
}

/* Sider Style (左侧菜单样式) */
.ivu-layout-sider-children {
    overflow-y: auto;
    background: #fff;
}

/* 右部 layout 样式 */
.ivu-layout.layout-page-content {
    padding: 0px 24px 24px;
}

/* Content Style (右侧内容样式) */
.laradmin.ivu-layout-content {
    margin-top: 15px;
    height: 100%;
    overflow-y: auto;
}
.laradmin.ivu-layout-content .laradmin-main {
    padding: 24px;
    background-color: #fff;
}
.laradmin.ivu-layout-content .laradmin-form {
    background-color: #f7f8f8;
}

// Form element
.laradmin-form-element {
    position: relative;
    background-color: #fff;
    padding: 48px;
    box-shadow: 0 1px 4px 0 #e3e8ee;
    border-radius: 4px;
}

// Breadcrumb
.ivu-layout-content .ivu-breadcrumb {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 20px;
    color: #464c5b;
}
.ivu-layout-content .ivu-breadcrumb span {
    font-weight: 400;
}
.ivu-layout-content .ivu-breadcrumb span:not(:last-child) .ivu-breadcrumb-item-link {
    color: #57a3f3;
}

//header search style
.content-header {
    padding-top: 8px;
    padding-bottom: 20px;
}
.content-header .ivu-form-item {
    margin-top: 12px;
    margin-bottom: 0;
}
.content-header .header-action {
    padding: 4px 0;
}
.header-form-search {
    width: 200px;
}


// Global Button Style
html [type=button], html .ivu-btn {
    margin: 0 4px;
}


// Global Table Style
.ivu-table .ivu-table-body .ivu-poptip-confirm .ivu-poptip-body .ivu-icon {
    left: 18px;
}


// Global Footer Style
.ivu-layout-footer {
    background: #fff;
    border-top: 1px solid #cbcbcb;
}


.layout-nav.admin-top-nav {
    width: auto;
    margin-left: 200px;
}

.essay-header-title {
    position: relative;
}
.essay-header-title .ivu-input-wrapper {
    display: flex;
    flex-direction: column;
    flex: auto;
    width: auto;
    margin-right: 72px;
}
.essay-header-title .ivu-btn {
    position: absolute;
    top: 0;
    right: 0;
}
.essay-content {
    margin-top: 20px;
}
.essay-content .v-note-wrapper {
    height: 680px;
    z-index: 1000;
}


// iView modal css.
.ivu-modal .ivu-modal-body {
    position: relative;
}


// Loading css.
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}  


  // Error page.
.error-page{
    width: 100%;
    height: 100%;
    .container {
        width: 700px;
        height: 600px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-60%);
        transform: translate(-50%,-60%);
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
        .text-con {
            position: absolute;
            left: 0px;
            top: 0px;
            h4{
                position: absolute;
                left: 0;
                top: 0;
                font-size: 80px;
                font-weight: 700;
                color: #348EED;
            }
            h5{
                position: absolute;
                width: 700px;
                left: 0;
                top: 100px;
                font-size: 20px;
                font-weight: 700;
                color: #67647D;
            }
        }
    }
    .back-btn-group{
        position: absolute;
        right: 0;
        bottom: 20px;
    }
}

